label {
	font-weight: normal;
}
/*退货*/
#reject-content{
	height: 270px;
	overflow-y: scroll;
}
#reject-bottom{
	/* position: absolute;
	bottom: 10px; */
	padding-top: 10px;
	border-top: 2px solid #e7e7e7;
}
/* 销售下单 */
#sale-content{
	height: 270px;
	overflow-y: scroll;
}
#sale-bottom{
	/* position: absolute;
	bottom: 10px; */
	padding-top: 10px;
	border-top: 2px solid #e7e7e7;
}
.border-left{	
	border-left: 2px solid #e7e7e7;
}
.border-right{	
	border-right: 2px solid #e7e7e7;
}
.now {
	color: #0bec0b;
    font-size: large;
}
.green-span {
	color: #0bec0b;
    font-size: xx-large;
}
.blue-span {
	color: #739ECE;
    font-size: large;
}
